/* BODY */
#body {
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    overflow:hidden;
}

/* HEADER */
#header {
    display: flex;
    justify-content: flex-end;
    /*position : fixed;*/
    padding-top : 15px;
    position : absolute;
    padding-bottom : 15px;
    top : 0;
    left : 0;
    right: 0;
    /*margin:0;*/
    width: 100vw;
    height: 2rem;
    /*border-radius: 0px 0px 10px 10px;*/
    background: #E1022A;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
}
#header_sk {
    position : absolute;
    top : 10px;
    left : 20px;
    width: 40px;
    height: 40px;

    animation: ghost 0.8s /* 속도 */
    linear 0s   /* 처음부터 끝까지 일정 속도로 진행 */
    infinite alternate; /* 무한 반복 */
}

#header_logo {
    /*display: flex;*/
    width: 155px;
    height: 24px;
    margin-right: 3%;
    color: #FFF;
    font-family: Inter;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    /*background-color : #111110;*/
}

@keyframes ghost {
    0% {top: 5px; opacity : 1} /* 처음 위치 */
    100% {top: 15px; opacity : 0.5} /* 마지막 위치 */
}

/* SECTION */
#section{
    /*display: flex;*/
    /*position:absolute;*/
    /*margin:0;*/
    /*padding-top:8vh;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}
#section_top{
    display: flex;
    position:absolute;
    height: 346px;
    /*padding-top : 3vh;*/
    padding-bottom : 1vh;
    /*padding-top : 15px;*/
    /*padding-bottom : 15px;*/
    margin:0;
    /*height:50vh; 반응형 */
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 20px;
    top : 4rem;
    left : 0;
    right: 0;
    width: 100vw;
    background: white;
    flex-wrap:nowrap;
}
#img1{
    width: min(90%, 450px);
    height: min(80%, 650px);
    flex-shrink: 0;

    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
}
#section_bottom{
    display: flex;
    position:absolute;
    height: 284px;
    padding-bottom : 15px;
    /*height:33vh;*/
    flex-direction:column;
    align-items: center;
    justify-content: center;
    top : 420px;
    left : 0;
    right: 0;
    width: 100vw;
    background: white;
}
#custom-modify-btn{
    display: flex;
    margin: 2%;
    margin-bottom: 0;
    width: 22rem;

    height: 15vh;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 1.25rem;
    background: #E1022A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#custom-new-btn{
    display: flex;
    margin:3vh;

    width: 22rem;
    height: 15vh;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

    border-radius: 1.25rem;
    background: #EE7603;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);

    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* FOOTER */
#footer {
    display: flex;
    position : fixed;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    width: 100vw;
    height:4vh;
    /*border-radius: 10px 10px 0px 0px;*/
    background: #E1022A;
}